@if (ViewBag.Message != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@ViewBag.Message</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h1>Books</h1>

@if ((@HttpContextAccessor.HttpContext.Session.GetString("Role") == "Admin"))
{
    <a asp-controller="Front" asp-action="Create" class="btn btn-success mt-2">Create</a>
    <br />
}
<br />
<div class="card">
    <div class="card-body">
        <table class="table table-hover align-middle">
            <thead>
                <tr scope="col">
                    <td>#</td>
                    <td>Name</td>
                    <td>Author</td>
                    <td>Description</td>
                    <td>Status</td>
                    <td>Operations</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in ViewBag.Books)
                {
                    var msg = "";
                    var cls = "";
                    @if (@book.IsBorrowed)
                    {
                        msg = "Taken";
                        cls = "text-danger";
                    }
                    else
                    {
                        msg = "Available";
                        cls = "text-success";
                    }

                    <tr scop="row">
                        <td style="width: 200px"><img src="./img/@book.ImageUrl" width="180"/></td>
                        <td>@book.Name</td>
                        <td>@book.Author</td>
                        <td>@book.Description</td>
                        <td><b class="@cls">@msg</b></td>
                        <td>
                            <a class="btn btn-sm btn-primary" asp-controller="Front" asp-action="Detail" asp-route-id="@book.Id">Details</a>
                            @if ((@HttpContextAccessor.HttpContext.Session.GetString("Role") == "Admin"))
                            {
                                <br />
                                <a class="btn btn-sm btn-warning mt-2" asp-controller="Front" asp-action="Update" asp-route-id="@book.Id">Edit</a>
                                @if (@book.IsBorrowed == false)
                                {
                                    <a class="btn btn-sm btn-danger mt-2" asp-controller="Front" asp-action="Delete" asp-route-id="@book.Id">Delete</a>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
